<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="favicon.png">
    <script type="text/javascript" src="bower_components/angular/angular.min.js">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body ng-app='iw3' style="font-family: Arial;" ng-controller='controller1'>
    <div class="container-fluid" style="background-color: rgb(94, 204, 247);">

        <div class="dropdown">
            <img src="logo.png" />
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Cuenta
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="index.html">Cerrar sesion</a></li>
            </ul>
        </div>
    </div>
    <i class="bi bi-person-circle"></i>


    <div class="card ">
        <div class="card-header">
            Carga de la orden
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100" id="bar"> {{progreso}}</div>
            </div>


        </div>
        <div class="card-body">
            <h5 class="card-title"> Estado: {{estado}} </h5>
            <hr>
            <p>Numero de orden:<input type="text" ng-model='orden' id="orden">
                Camion:<input type="text" ng-model='camion' id="camion" pattern="[0-9]+">
                Chofer:<input type="text" ng-model='chofer' id="chofer">
                Cliente:<input type="text" ng-model='cliente' id="cliente"></p>
            <p>Producto:<input type="text" ng-model='producto' id="producto">
                Fecha prevista de carga: <input type="text" ng-model='dia' id="dia" maxlength="2" size="1"
                    placeholder="dd"> /
                <input type="text" ng-model='mes' id="mes" maxlength="2" size="1" placeholder="mm"> /
                <input type="text" ng-model='anio' id="anio" maxlength="4" size="2" placeholder="yyyy"> -
                <input type="text" ng-model='hora' id="hora" maxlength="2" size="1" placeholder="hh"> :
                <input type="text" ng-model='min' id="min" maxlength="2" size="1" placeholder="mm">
                Preset:<input type="text" ng-model='preset' id="preset">
                <button class="btn btn-primary" ng-click='cambiarEstado1()' id="estado1">Guardar</button>
            </p>

            <hr>

            <p>Pesaje inicial:<input type="text" ng-model='pesajeInicial' id="pesajeInicial" disabled>
                Password:<input type="text" ng-model='password' id="password" disabled>


            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Frecuencia de almacenamiento (seg.)</label>
                <select class="form-select" id="inputGroupSelect01" disabled>
                    <option selected>Elegir...</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                </select>
            </div>

            <button class="btn btn-primary" ng-click='cambiarEstado2()' id="estado2" disabled>Guardar</button>

            </p>

            <hr>



            <p>Masa acumulada:<input type="text" ng-model='masa' id="masa" disabled>
                Densidad del producto:<input type="text" ng-model='densidad' id="densidad" disabled>
                Temperatura:<input type="text" ng-model='temp' id="temp" disabled>
                Caudal:<input type="text" ng-model='caudal' id="caudal" disabled></p>
            <div class="crono_wrapper" style="color: red;">
                Tiempo transcurrido <h6 id='crono'>00:00:00</h6>
            </div>

            <br>
            <button class="btn btn-primary" ng-click='cambiarEstado3()' id="estado3" disabled>Guardar</button>
            <hr>
            <p>Pesaje final:<input type="text" ng-model='pesajeFinal' id="pesajeFinal" disabled>
                <button class="btn btn-primary" ng-click='cambiarEstado4()' id="estado4" disabled>Guardar</button>
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#dialogo1"
                    style="display: none;" id="conciliacion">Ver conciliacion
                </button>
            </p>
            <button class="btn btn-danger" ng-click='cerrarOrden()' id="cerrarOrden" style="display: none;">Cerrar
                Orden</button>





            <div class="container">

                <div class="modal fade" id="dialogo1">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- cabecera del diálogo -->
                            <div class="modal-header">
                                <h4 class="modal-title">Conciliacion</h4>
                                <button type="button" class="close" data-dismiss="modal">X</button>
                            </div>

                            <!-- cuerpo del diálogo -->
                            <div class="modal-body">
                                Pesaje inicial: {{pesajeInicial}} <br>
                                Pesaje final: {{pesajeFinal}} <br>
                                Ultimo valor de masa acumulada: {{masa}} <br>
                                Neto por valanza: {{pesajeFinal- pesajeInicial}} <br>
                                Diferencia entre valanza y caudalimentro: {{pesajeFinal- pesajeInicial - masa}} <br>
                                Promedio de temperatura: <br>
                                Promedio del caudal: <br>
                            </div>

                            <!-- pie del diálogo -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

    <div class="container-fluid">
        <p style="font-size: 20px;">Numero de orden: {{orden}} </p>
        <table class="table table-bordered border-primary">
            <thead>
                <tr>
                    <th scope="col">estado</th>
                    <th scope="col">camion</th>
                    <th scope="col">preset</th>
                    <th scope="col">carga actual</th>
                    <th scope="col">ultima temp</th>
                    <th scope="col">ultima dens</th>
                    <th scope="col">ultimo caudal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{ estado }}
                    </td>
                    <td>
                        {{ camion}}
                    </td>
                    <td>
                        {{preset}}
                    </td>
                    <td>
                        {{cargaActual}}
                    </td>
                    <td>
                        {{temp}}
                    </td>
                    <td>
                        {{densidad}}
                    </td>
                    <td>
                        {{caudal}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container-fluid" style="font-size: 12px;">
        <p style=" font-size: 20px;">Listado de ordenes</p>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">numero de orden</th>
                    <th scope="col">estado</th>
                    <th scope="col">preset</th>
                    <th scope="col">pesaje inicial</th>
                    <th scope="col">pesaje final</th>
                    <th scope="col">temp final</th>
                    <th scope="col">masa acumulada final</th>
                    <th scope="col">dens final</th>
                    <th scope="col">caudal final</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='p in datos'>
                    <td>
                        {{ p.estado }}
                    </td>
                    <td>
                        {{p.camion}}
                    </td>
                    <td>
                        {{p.preset}}
                    </td>
                    <td>
                        {{p.cargaFinal}}
                    </td>
                    <td>
                        {{p.tempFinal}}
                    </td>
                    <td>
                        {{p.densFinal}}
                    </td>
                    <td>
                        {{p.caudFinal}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#dialogo1"
                            id="conciliacion">
                            Ver detalles</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- <div ng-controller='controller1'>
            {{titulo}}

            <input type="number" ng-model='fontSize'>
            <label style="font-size: {{fontSize}}px;">texto de ejemplo </label>
        </div> -->

    <script>
        var app = angular.module('iw3', []);
        var orden, camion, chofer, cliente, producto, mes, dia, anio, hora, min, preset, bttn1, bttn2, cerrarOrden, pesajeInicial, password,
            masa, densidad, temp, caudal, bttn3, bttn4, pesajeFinal, conciliacion, groupSelect, progress;
        var inicio = 0;
        var timeout = 0;

        var fecha = new Date();
        console.log(fecha.getFullYear());

        app.controller('controller1', function ($scope) {
            $scope.estado = 0;
            $scope.progreso = '0%'

            $scope.cambiarEstado1 = function () {

                orden = document.getElementById('orden');
                camion = document.getElementById('camion');
                chofer = document.getElementById('chofer');
                cliente = document.getElementById('cliente');
                producto = document.getElementById('producto');
                mes = document.getElementById('mes');
                dia = document.getElementById('dia');
                anio = document.getElementById('anio');
                hora = document.getElementById('hora');
                min = document.getElementById('min');
                preset = document.getElementById('preset');


                if (validar(orden.value) && validar(camion.value) && validar(chofer.value) && validar(cliente.value) &&
                    validar(producto.value) && validar(preset.value) && validar(dia.value) && validar(mes.value) && validar(anio.value) && validar(hora.value)
                    && validar(min.value)) {
                    if (validarFecha(dia.value, mes.value, anio.value, hora.value, min.value)) {
                        orden.disabled = true;
                        camion.disabled = true;
                        chofer.disabled = true;
                        cliente.disabled = true;
                        producto.disabled = true;
                        preset.disabled = true;
                        dia.disabled = true;
                        mes.disabled = true;
                        anio.disabled = true;
                        hora.disabled = true;
                        min.disabled = true;
                        bttn1 = document.getElementById('estado1');
                        bttn1.disabled = true;
                        pesajeInicial = document.getElementById('pesajeInicial');
                        pesajeInicial.disabled = false;
                        password = document.getElementById('password');
                        password.disabled = false;
                        bttn2 = document.getElementById('estado2');
                        bttn2.disabled = false;
                        groupSelect = document.getElementById('inputGroupSelect01');
                        groupSelect.disabled = false;
                        $scope.estado = 1;
                        $scope.progreso = '25%'
                        $('#bar').css('width', 25 + '%');
                    }
                    else
                        window.alert("Los datos ingresados no son correctos");

                }
                else
                    window.alert("Los datos ingresados no son correctos");


            }

            $scope.cambiarEstado2 = function () {

                pesajeInicial = document.getElementById('pesajeInicial');
                password = document.getElementById('password');

                if (validar(pesajeInicial.value) && validar(password.value)) {

                    $scope.estado = 2;
                    $scope.progreso = '50%'
                    $('#bar').css('width', 50 + '%');

                    pesajeInicial.disabled = true;
                    password.disabled = true;
                    bttn2 = document.getElementById('estado2');
                    bttn2.disabled = true;
                    groupSelect = document.getElementById('inputGroupSelect01');
                    groupSelect.disabled = true;

                    masa = document.getElementById('masa');
                    masa.disabled = false;
                    densidad = document.getElementById('densidad');
                    densidad.disabled = false;
                    temp = document.getElementById('temp');
                    temp.disabled = false;
                    caudal = document.getElementById('caudal');
                    caudal.disabled = false;
                    bttn3 = document.getElementById('estado3');
                    bttn3.disabled = false;

                    inicio = new Date().getTime();
                    funcionando();


                }
                else
                    window.alert("Los datos ingresados no son correctos");

            }
            $scope.cambiarEstado3 = function () {
                masa = document.getElementById('masa');
                densidad = document.getElementById('densidad');
                temp = document.getElementById('temp');
                caudal = document.getElementById('caudal');

                if (validar(masa.value) && validar(densidad.value) && validar(temp.value) && validar(caudal.value)) {

                    if (temp.value > 60)
                        window.confirm("La temperatura excedio los 60 grados");

                    $('#bar').css('width', 75 + '%');
                    $scope.progreso = '75%'
                    $scope.estado = 3;

                    masa.disabled = true;
                    densidad.disabled = true;
                    temp.disabled = true;
                    caudal.disabled = true;
                    bttn3 = document.getElementById('estado3');
                    bttn3.disabled = true;

                    pesajeFinal = document.getElementById('pesajeFinal');
                    pesajeFinal.disabled = false;
                    bttn4 = document.getElementById('estado4');
                    bttn4.disabled = false;

                    clearTimeout(timeout);
                    timeout = 0;


                }
                else
                    window.alert("Los datos ingresados no son correctos");



            }

            $scope.cambiarEstado4 = function () {

                pesajeFinal = document.getElementById('pesajeFinal');

                if (validar(pesajeFinal.value)) {

                    $scope.estado = 4;
                    $('#bar').css('width', 100 + '%');
                    $scope.progreso = '100%'
                    conciliacion = document.getElementById('conciliacion');
                    conciliacion.style.display = 'inline';
                    pesajeFinal.disabled = true;
                    bttn4 = document.getElementById('estado4');
                    bttn4.disabled = true;

                    cerrarOrden = document.getElementById('cerrarOrden');
                    cerrarOrden.style.display = 'inline';

                }
                else
                    window.alert("Los datos ingresados no son correctos");

            }



        });

        function funcionando() {
            // obteneos la fecha actual
            var actual = new Date().getTime();

            // obtenemos la diferencia entre la fecha actual y la de inicio
            var diff = new Date(actual - inicio);

            // mostramos la diferencia entre la fecha actual y la inicial
            var result = LeadingZero(diff.getUTCHours()) + ":" + LeadingZero(diff.getUTCMinutes()) + ":" + LeadingZero(diff.getUTCSeconds());
            document.getElementById('crono').innerHTML = result;

            // Indicamos que se ejecute esta función nuevamente dentro de 1 segundo
            timeout = setTimeout("funcionando()", 1000);
        }

        /* Funcion que pone un 0 delante de un valor si es necesario */
        function LeadingZero(Time) {
            return (Time < 10) ? "0" + Time : + Time;
        }

        function validar(num) {

            if (isNaN(num) || num < 0) {

                return false;

            }
            if (num.length == 0 || /^\s+$/.test(num)) {
                return false;
            }

            return true
        }
        function validarFecha(dia, mes, anio, hora, min) {
            var date = new Date();

            if ((mes < 1 || mes > 12) || (dia < 1 || dia > 31) || (hora < 8 || hora > 20) || (min < 0 || min > 59))
                return false;

            if (anio < date.getFullYear())
                return false;

            if (anio == date.getFullYear() && mes < ((date.getMonth()) + 1))
                return false;

            if (anio == date.getFullYear() && mes == ((date.getMonth()) + 1) && dia < date.getDate())
                return false;

            if (anio == date.getFullYear() && mes == ((date.getMonth()) + 1) && dia == date.getDate() && hora <= date.getHours())
                return false;

            return true;

        }

    </script>

</body>


</html>